body {
  background-color: #D7D8DB;;
}
.container {
  background-color: #FFFFFF;
  border: 10px double #D7D8DB;;
  font-family: Arial, Helvetica, sans-serif;
  left: 50%;
  margin-right: -50%;
  padding: 40px 40px 40px 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
}

label {
  display: block;
  margin: 0 30px;
  color: #9B9B9B;
}

.label-text {
  cursor: text;
  font-size: 13px;
  line-height: 13px;
  margin-left: 10px;
  transform: translateY(-26px);
}

.input {
  background-color: transparent;
  border: 2px solid #b5b5b5;
  color: gray;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  outline: 0;
  padding: 0.5em;
  transition: all 0.3s;
  width: 100%;

  padding: 16px .5em 0 .5em;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-right: 18px;
}

.input:focus {
  width: 100%;
  border: 2px solid #da6484;
  background: linear-gradient(top, rgba(255, 255, 255, 0) 96%, #da6484 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #da6484 4%);
  background-position: -200px 100%;
  background-size: 0 100%;
  background-repeat: no-repeat;
  padding: 16px .5em 0 .5em;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.input:hover + .label-text {
  width: 100%;
  color: #4F4F4F;
}

.input:focus + .label-text {
  width: 100%;
  color: #da6484;
  font-size: 13px;
  transform: translateY(-44px);
  transition: all 0.4s;
}

.input:valid + .label-text {
  font-size: 13px;
  transform: translateY(-44px);
  transition: all 0.4s;
}

.input[type="date"]:focus + .label-text::after {
  content: "Birthday";
}

.input[type="date"]:valid + .label-text::after {
  content: "Birthday";
}

.label-checkbox {
  display: inline;
  font-size: 13px;
  padding: 0 60px 0 60px;
  vertical-align: bottom;
}

.submit {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: #da6484;
  color: white;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  outline: none;
  margin: 3em 4em 0 4em;
  padding: 15px;
  width: 80%;
}

.submit:hover {
  background-color: #FFFFFF;
  color: #da6484;
  border: 2px solid #da6484;;
}

a {
  color: #9B9B9B;
  display: inline;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: #da6484;
}

.password {
  left: 65%;
  position: absolute;
}


h1 {
  margin: 10px 0 30px 0;
  text-align: center;
}

span {
  display: inline-block;
  margin: 0 2px;
  width: 49%;
  padding: 4px 0;
}

label {
  display: block;
}


.firstname-error,
.lastname-error,
.email-error,
.password-error {
  background-color: rgba(235,200,214,.6);
  bottom: 15px;
  color: red;
  display: block;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  width: 100%;
  padding: 0 8px;
  line-height: 14px;
  border: 2px solid pink;
  margin: 0;
}

.birthdate-error {
  background-color: rgba(235,200,214,.6);
  color: red;
  display: block;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  width: 100%;
  padding: 0 8px;
  line-height: 14px;
  border: 2px solid pink;
  margin: 0;
}

input.invalid {
  border: 2px solid red;
  background-color: transparent;
  color: gray;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  outline: 0;
  padding: 0.5em;
  transition: all 0.3s;
  width: 100%;
  padding: 16px .5em 0 .5em;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-right: 18px;
}

input.valid {
  border: 2px solid green;
  position: relative;
}

span#first.valid,
span#last.valid,
span#email-msg.valid,
span#password-msg.valid,
span#birthday-msg.valid {
  color: green;
  position: absolute;
  width: 1em;
}

span#first.valid {
  left: 44%;
  bottom: 69%;
}

span#last.valid {
  right: 8%;
  bottom: 69%;
}

span#email-msg.valid {
  right: 8%;
  bottom: 55%;
}

span#password-msg.valid {
  right: 8%;
  bottom: 41%;
}

span#birthday-msg.valid {
  right: 8%;
  bottom: 29%;
}
